<!doctype html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/howdy.css'>
    <link rel='stylesheet' href='stylesheets/code.css'>
    <script src='javascripts/jquery.js'></script>
    <script src='javascripts/howdy.js'></script>
  </head>

  <body>
    <ol id='slides'>
      <%- slides %>
    </ol>
  </body>
</html>
